[submodule "pack/third_party/start"]
	path = pack/third_party/start
	url = https://github.com/tpope/vim-fugitive.git
[submodule "pack/third_party/start/vim-fugitive"]
	path = pack/third_party/start/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "pack/third_party/start/cmp-buffer"]
	path = pack/third_party/start/cmp-buffer
	url = https://github.com/hrsh7th/cmp-buffer.git
[submodule "pack/third_party/start/cmp-nvim-lsp-signature-help"]
	path = pack/third_party/start/cmp-nvim-lsp-signature-help
	url = https://github.com/hrsh7th/cmp-nvim-lsp-signature-help.git
[submodule "pack/third_party/start/cmp-nvim-lsp"]
	path = pack/third_party/start/cmp-nvim-lsp
	url = https://github.com/hrsh7th/cmp-nvim-lsp.git
[submodule "pack/third_party/start/cmp-nvim-lua"]
	path = pack/third_party/start/cmp-nvim-lua
	url = https://github.com/hrsh7th/cmp-nvim-lua.git
[submodule "pack/third_party/start/cmp-path"]
	path = pack/third_party/start/cmp-path
	url = https://github.com/hrsh7th/cmp-path.git
[submodule "pack/third_party/start/cmp-vsnip"]
	path = pack/third_party/start/cmp-vsnip
	url = https://github.com/hrsh7th/cmp-vsnip.git
[submodule "pack/third_party/start/nvim-cmp"]
	path = pack/third_party/start/nvim-cmp
	url = https://github.com/hrsh7th/nvim-cmp.git
[submodule "pack/third_party/start/vim-vsnip"]
	path = pack/third_party/start/vim-vsnip
	url = https://github.com/hrsh7th/vim-vsnip.git
[submodule "pack/third_party/start/nvim-dap-ui"]
	path = pack/third_party/start/nvim-dap-ui
	url = https://github.com/rcarriga/nvim-dap-ui.git
[submodule "pack/third_party/start/nvim-dap"]
	path = pack/third_party/start/nvim-dap
	url = https://github.com/mfussenegger/nvim-dap.git
[submodule "pack/third_party/start/nvim-lspconfig"]
	path = pack/third_party/start/nvim-lspconfig
	url = https://github.com/neovim/nvim-lspconfig.git
[submodule "pack/third_party/start/nvim-nio"]
	path = pack/third_party/start/nvim-nio
	url = https://github.com/nvim-neotest/nvim-nio.git
[submodule "pack/third_party/start/nvim-treesitter"]
	path = pack/third_party/start/nvim-treesitter
	url = https://github.com/nvim-treesitter/nvim-treesitter.git
[submodule "pack/third_party/start/onedark"]
	path = pack/third_party/start/onedark
	url = https://github.com/navarasu/onedark.nvim.git
[submodule "pack/third_party/start/plenary"]
	path = pack/third_party/start/plenary
	url = https://github.com/nvim-lua/plenary.nvim.git
[submodule "pack/third_party/start/telescope-dap"]
	path = pack/third_party/start/telescope-dap
	url = https://github.com/nvim-telescope/telescope-dap.nvim.git
[submodule "pack/third_party/start/telescope-ui-select"]
	path = pack/third_party/start/telescope-ui-select
	url = https://github.com/nvim-telescope/telescope-ui-select.nvim.git
[submodule "pack/third_party/start/telescope"]
	path = pack/third_party/start/telescope
	url = https://github.com/nvim-telescope/telescope.nvim.git
[submodule "pack/third_party/start/trouble"]
	path = pack/third_party/start/trouble
	url = https://github.com/folke/trouble.nvim.git
[submodule "pack/third_party/start/vim-floaterm"]
	path = pack/third_party/start/vim-floaterm
	url = https://github.com/voldikss/vim-floaterm.git
[submodule "pack/third_party/start/Comment"]
	path = pack/third_party/start/Comment.nvim
	url = https://github.com/numToStr/Comment.nvim.git
[submodule "pack/third_party/start/roslyn.nvim"]
	path = pack/third_party/start/roslyn.nvim
	url = https://github.com/seblyng/roslyn.nvim.git
[submodule "pack/third_party/start/lualine"]
	path = pack/third_party/start/lualine
	url = https://github.com/nvim-lualine/lualine.nvim.git
[submodule "pack/third_party/start/nvim-web-devicons"]
	path = pack/third_party/start/nvim-web-devicons
	url = https://github.com/nvim-tree/nvim-web-devicons.git
[submodule "pack/third_party/start/crates.nvim"]
	path = pack/third_party/start/crates.nvim
	url = https://github.com/saecki/crates.nvim.git
[submodule "pack/third_party/start/dressing.nvim"]
	path = pack/third_party/start/dressing.nvim
	url = https://github.com/stevearc/dressing.nvim.git
[submodule "pack/third_party/start/nui.nvim"]
	path = pack/third_party/start/nui.nvim
	url = https://github.com/MunifTanjim/nui.nvim.git
[submodule "pack/third_party/start/copilot.vim"]
	path = pack/third_party/start/copilot.vim
	url = https://github.com/github/copilot.vim.git
[submodule "pack/third_party/start/img-clip.nvim"]
	path = pack/third_party/start/img-clip.nvim
	url = https://github.com/HakonHarnes/img-clip.nvim.git
[submodule "pack/third_party/start/render-markdown.nvim"]
	path = pack/third_party/start/render-markdown.nvim
	url = https://github.com/MeanderingProgrammer/render-markdown.nvim.git
[submodule "pack/third_party/start/CopilotChat.nvim"]
	path = pack/third_party/start/CopilotChat.nvim
	url = https://github.com/CopilotC-Nvim/CopilotChat.nvim.git
[submodule "pack/third_party/start/nvim-treesitter-context"]
	path = pack/third_party/start/nvim-treesitter-context
	url = https://github.com/nvim-treesitter/nvim-treesitter-context.git
[submodule "pack/third_party/start/nvim-tree.lua"]
	path = pack/third_party/start/nvim-tree.lua
	url = https://github.com/nvim-tree/nvim-tree.lua.git
